.form {
  display: flex;
 background: #fff;
 flex-direction: column;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(68, 94, 47, 0.836);
  transition: 0.3s;
  width: 100%;
}

.detail {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.brand{
text-transform: uppercase;
color: #777;
}

.img {
  width: 300px;
  height: 360px;
  object-fit: cover;
}
.card:hover {
  transform: translateY(-5px);
}