.brand-card {
position: relative;
cursor: pointer;
overflow: hidden;
 box-shadow: 0 2px 5px rgba(68, 94, 47, 0.836);
 
&:hover {
   transform: translateY(-5px); transition: 0.3s;
}
 
}

.b-img {
width: 100%;
height: 100%;
object-fit: cover;
}

.div-img {
  position: relative;
  height: 350px;
  overflow: hidden;
}

.b-btn {
  padding: 0.4rem 1.2rem;
   text-transform: uppercase;
  font-family: 'Cormorant Garamond', serif;      
}

