.front-page {
  line-height: 2.5rem;
  color: var(--charcoal);
  position: fixed;
   top: 72px;
  left: 0;
  width: 300px;
  z-index: 50;

  h1 {
    padding: 1rem;
  }
}

.lateral-bar {
  background-color: var(--cream);
  padding: 4.5rem;
  height: 100dvh;
  border: 1px solid;
  box-shadow: 0 2px 6px rgba(68, 94, 47, 0.836);
  color: var(--accent);
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .link {
    font-family: 'Cormorant Garamond', sans-serif;
    color: var(--ink);
    padding-left: 10px;
    text-decoration: none;
  }

  .child2 {
    text-align: right;
    font-family: 'Cormorant Garamond', sans-serif;
    color: var(--ink);
    padding: 1rem;
  
  }


 

}
