
.cont {
  font-family: 'Cormorant Garamond', serif;
  font-size: 2rem;
  
  h1 {
    font-size: 3rem;
    text-transform: uppercase;
  }
}


.form-login {
  border: 1px solid;
  border-radius: 25px 0 25px;
  box-shadow: 0 0 10px var(--green);
  &:hover {
    transition: 0.2s;
    box-shadow: 0 0 10px var(--green);
  }
  
}

.error-alert {
  font-size: 12px;
  color: red;
}

@media (width > 500px) {
  .login-container {
    width: 30rem;
  }
}

@media (width < 500px) {
  .login-container {
    padding: 1.5rem;
  }
}